#section1 {
	background-color : gray;
	display : block;
}

#aside {
	background-color : gray;
	float : left;
	height : 610px;
	border-right-style : solid;
	border-right-color : black;
}

aside ul {
   list-style-type:none;
   text-align: center;
   /*margin:20;
	*/
	
   font-family: a¿¾³¯»çÁø°ü4, sans_serif;
   font-size:1.5em;
}

aside ul li {
   padding-top: 12px;
   padding-bottom: 25px;
   padding-right: 50px;
}

.input-file-button{
	
  padding: 6px 50px;
  background-color:black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

label {
	display : block;
	width : 200px;
	
}


#emoticon > img {
	margin : auto;
	display : block;
	padding-top : 100px;
}

#div1 {
	background-color : gray;
	height : 610px;
	
}
#emoticon {
	margin : auto;
}

#div2 {
	margin-top : 30px;
	background-color : gray;
	display : block;
	height : 250px;
}
