@charset "utf-8";

#msg{
  border: 1px white solid;
  width: 400px;
  height: 650px;
  background-color : #525252;
  /*margin-left: 50px;*/
  font-size : 20px;
  overflow: auto;
  margin: auto;
  color : white;
  text-align : right;
}

#input_box{
  border: 1px white solid;
  width: 350px;
  height: 40px;
  overflow: auto;
  margin-top: 8px;
  padding-left: 5px;
  padding-top: 8px;
  color : white;
}
.input{
	width: 350px;
	height : 50px;
	display: inline-block
}

.send {
	width: 400px;
	height : 50px;
	margin: auto;
	background-color : #525252;
}

.emoji{
	width: 32px;
	display: inline-block;
	margin : 5px;
}
.emoji_pickup{
  cursor: pointer;
  display : block;
}

#emoji_pickup_before{
  margin-top: 5px;
  margin-right: 10px
}

#emoji_pickup_after{
  margin-top: 5px;
  margin-right: 10px;
  display: none
}

#emoji_popup{
  display: none;
  margin-top : -250px;
  border: 1px #ffcd05 solid;
  width: 400px;
  height: 200px;
  overflow: auto;
}

#custom_emoji{
  display: none;
  margin-top : -250px;
  border: 1px #ffcd05 solid;
  width: 400px;
  height: 200px;
  overflow: auto;
}
#menu {
	display : inline-block;
}
.button {
	margin-left : 5px;
	display : block;
	border : 1px solid black;
	color : black;
	background : none;
	font-size : 1.2em;
	margin-top : 7px;
	
}

#emo {
	position: absolute;
	margin-top : 40px;
	margin-left : 25px;
}

#emoji_navigator{
  border-bottom: 1px #ffcd05 solid;
}

#emoji_tooltip{
  display: none;
  border: 1px #ffcd05 solid
}

.navigator{
  border: 1px #FFFFFF solid;
  cursor: pointer;
  margin: 1px;
  width: 32px;
  height: 32px
}

.navigator:hover{
  border: 1px #CECEF6 solid;
  cursor: pointer;
  margin: 1px;
  width: 32px;
  height: 32px
}

.emoji_list{
  border: 1px #FFFFFF solid;
  cursor: pointer;
  margin: 1px;
  width: 120px;
  height: 120px;
}


.emoji_list:hover{
  border: 1px #CECEF6 solid;
  cursor: pointer;
  margin: 1px;
  width: 120px;
  height: 120px;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}